<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/prism.min.js"
    integrity="sha512-/Swpp6aCQ0smuZ+zpklJqMClcUlvxhpLf9aAcM7JjJrj2waCU4dikm3biOtMVAflOOeniW9qzaNXNrbOAOWFCw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/themes/prism-coy.min.css"
    integrity="sha512-LOT5F67SMZVdXMrvQe4S1ZHu5l6xk3CST2qqno9kY329OsJBBpybnq+fM9qG4ZSaNzPOjoGzHAeBamSSJyyuZg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@500&display=swap" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js"></script>
  <link rel="stylesheet" href="/emoji-picker-twemoji/css/emojis.css" />
  <link rel="stylesheet" href="/css/createReview.css" />
  {{ include('includes.html') }}
  <title>GameTaste | Edit review</title>
</head>
<style>
  body {
    font-family: "Montserrat", sans-serif;
  }

  .bg-color {
    background-color: #0f102e;
  }

  img {
    display: flex;
  }
</style>

<body class="bg-color">
  {{ include('navbar.html') }}
  <picture class="absolute inset-x-0 top-0 block pointer-events-none -z-10">
    <img src="/img/gradient_dark.jpg" alt="gradient dark" />
  </picture>
  <section class="min-h-screen flex items-stretch text-white pt-20">
    <!-- Formulier om review te schrijven -->
    <div class="lg:w-3/5 w-full flex items-start pt-10 justify-center text-center md:px-16 px-0 z-0">
      <div class="w-full">
        <form action="editReviewPost" method="POST" onsubmit="return checkFormInput(this);"
          class="sm:w-2/3 w-full px-4 lg:px-0 mx-auto">
          <div class="pb-2 pt-4">
            <input type="text" name="reviewTitle" id="reviewTitle" value="{{ review.review_title }}"
              class="block w-full p-4 text-lg rounded-lg bg-black" />
          </div>
          <div class="pb-2 pt-4 text-left">
            <label>Rating</label><br />
            <div id="rating">
              <input type="radio" name="rating" value="★★★★★" id="5" /><label for="5">☆</label>
              <input type="radio" name="rating" value="★★★★" id="4" /><label for="4">☆</label>
              <input type="radio" name="rating" value="★★★" id="3" /><label for="3">☆</label>
              <input type="radio" name="rating" value="★★" id="2" /><label for="2">☆</label>
              <input type="radio" name="rating" value="★" id="1" /><label for="1">☆</label>
            </div>
          </div>
          <div class="reviewField pb-2 pt-4">
            <textarea class="reviewText block w-full p-4 rounded-lg text-lg h-96 bg-black" id="reviewText"
              name="reviewText" placeholder="Write your review here"></textarea>
            <script>
              var downarea = new DownArea({
                elem: document.querySelector(".reviewText"), // Required - Textarea element.
                attr: {
                  // Optional - Values of the `id` and `class` attributes.
                  id: ["reviewText"], // Optional - ID of the element.
                  class: ["reviewText"], // Optional - Class of the element.
                },
                resize: DownArea.RESIZE_BOTH, // Optional - RESIZE_OFF | RESIZE_VERTICAL | RESIZE_HORIZONTAL | RESIZE_BOTH
                value: `{{ review.review }}`, // Optional - Value of the textarea.
              });
            </script>
          </div>
          <div class="px-4 pb-2 pt-4">
            <button
              class="uppercase block w-1/3 p-4 text-lg rounded-full bg-purple-500 hover:bg-indigo-600 focus:outline-none">
              Submit
            </button>
          </div>
          <input type="hidden" name="id" value="{{ review.id }}" />
          <input type="hidden" name="created_at" value="{{ review.created_at }}" />
          <input type="hidden" name="username" />
          <input type="hidden" name="game_id" />
          <input type="hidden" name="game_title" />
          <input type="hidden" name="game_description" />
        </form>
      </div>
    </div>
    <!-- Overzicht game waarover gereviewed wordt -->
    <div class="lg:flex w-1/2 text-center hidden relative items-start pt-5 pr-20">
      <div class="w-full px-4 pt-5">
        {% if gameID is not null %}
        <!-- Header -->
        <a href="/game/view?id={{gameID}}">
          <h1 class="text-gray-100 text-2xl font-bold mb-7">{{gameName}}</h1>
          <img src="{{ gameCover }}" alt="{{ gameName }} Box art"
            class="w-2/5 h-auto inline rounded-3xl drop-shadow-md md:drop-shadow-xl mb-2" />
        </a>
        {% if gameRating %}
        <h3 class="text-white font-bold">Rating: {{gameRating|round}}/100</h3>
        <h3 class="text-white font-light mb-5">
          Based on {{gameRatingCount}} online ratings.
        </h3>
        {% endif %}
        <h3 class="text-white font-semibold">Released: {{gameDate}}</h3>
        <h3 class="text-white font-semibold mb-5">Genre: {{gameGenre}}</h3>
        <p class="text-gray-300 text-lg font-medium mb-8">{{gameSummary}}</p>
        {% endif %}
      </div>
    </div>
  </section>

  <!-- emoji-picker -->
  <script src="/emoji-picker-twemoji/js/DisMojiPicker.js"></script>
  <script src="/js/review.js"></script>
  {{ include('footer.html') }}
</body>

</html>