<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/prism.min.js"
        integrity="sha512-/Swpp6aCQ0smuZ+zpklJqMClcUlvxhpLf9aAcM7JjJrj2waCU4dikm3biOtMVAflOOeniW9qzaNXNrbOAOWFCw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/themes/prism-coy.min.css"
        integrity="sha512-LOT5F67SMZVdXMrvQe4S1ZHu5l6xk3CST2qqno9kY329OsJBBpybnq+fM9qG4ZSaNzPOjoGzHAeBamSSJyyuZg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@500&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js"></script>
    <link rel="stylesheet" href="/emoji-picker-twemoji/css/emojis.css" />
    <link rel="stylesheet" href="/css/createReview.css" />
    {{ include('includes.html') }}
    <title>GameTaste | Game Picker</title>
</head>

<body class="bg-color">
    {{ include('navbar.html') }}
    <picture class="absolute inset-x-0 top-0 block pointer-events-none -z-10">
        <img src="/img/gradient_dark.jpg" alt="gradient dark" />
    </picture>

    {% if noResults %}
    <script>
        toastr.error('No results found!');
    </script>
    {% endif %}


    <div class="w-full flex items-start pt-1 justify-center text-center md:px-16 px-0 z-0">
        <div class="h-screen w-full pt-2 text-white flex flex-wrap justify-center items-center text-center mb-24">
            <form method="POST" class="w-full px-4 lg:px-0 mx-auto" action="gamePicker">
                <div class="pb-2 pt-4">
                    <label>What game would you like to review?</label>
                    <div class="flex justify-center">
                        <div class="mb-3 xl:w-96">
                            <div class="input-group relative flex flex-wrap items-stretch w-full mb-4">
                                <input type="text" name="title"
                                    class="block w-full text-center p-4 text-lg rounded-lg bg-black"
                                    placeholder="Search for a game" aria-label="Search" aria-describedby="button-addon2"
                                    name="gameTitle">

                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="grid grid-cols-8 gap-4 px-12 ">
                {% for game in games %}
                <div class="flex flex-col gap-2 w-72 mb-10">
                    <form action="createReview" method="POST">
                        <!-- Image -->
                        <button class="bg-purple-800 rounded-xl">
                            <img src="https://images.igdb.com/igdb/image/upload/t_1080p/{{game.cover.image_id}}.jpg"
                                class="hover:translate-x-1 hover:-translate-y-1 delay-50 duration-100 rounded-xl" />
                        </button>
                        <!-- Games Title -->
                        <p class="hover:text-purple-400 text-gray-200 font-semibold"> {{game.name}} </p>
                        <!-- Category Tags -->
                        <div class="flex flex-row flex-wrap gap-2">
                            {% for genre in game.genres|slice(0,3) %}
                            <p
                                class="text-gray-300 text-xs font-semibold bg-gray-700 px-2 py-1 rounded-full genreTag truncate cursor-default">
                                {{genre.name}} </p>
                            {% endfor %}
                            <input type="hidden" name="game_id" value="{{ game.id }}">
                    </form>
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>
    </div>
    <script src="/js/gamePicker.js"></script>
</body>

</html>