<footer>
    <div class="font-sans flex flex-col text-center content-center sm:flex-row sm:text-left sm:justify-between px-6 shadow sm:items-baseline w-full"
        style="background-color: rgba(0, 0, 0, 0.2);">
        <div class="mb-2 p-2 sm:mb-0 flex flex-row text-gray-100 text-md">
            © <a href="https://gametaste.testof.tech/">GameTaste</a>, 2022
        </div>
        <div class="sm:mb-0 self-center">
            <a href="/home/termsOfService" class="text-md no-underline text-white hover:text-blue-dark ml-2 px-1">Terms
                of Service</a>
            <a href="/home/privacyPolicy" class="text-md no-underline text-white hover:text-blue-dark ml-2 px-1">Privacy
                Policy</a>
            <a href="mailto:gametaste@proton.me?"
                class="text-md no-underline text-white hover:text-blue-dark ml-2 px-1"><i
                    class="fa-regular fa-envelope align-bottom"></i> gametaste@proton.me</a>
        </div>
</footer>