<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/prism.min.js" integrity="sha512-/Swpp6aCQ0smuZ+zpklJqMClcUlvxhpLf9aAcM7JjJrj2waCU4dikm3biOtMVAflOOeniW9qzaNXNrbOAOWFCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/themes/prism-coy.min.css" integrity="sha512-LOT5F67SMZVdXMrvQe4S1ZHu5l6xk3CST2qqno9kY329OsJBBpybnq+fM9qG4ZSaNzPOjoGzHAeBamSSJyyuZg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@500&display=swap" rel="stylesheet">
    {{ include('includes.html') }}
    <title>GameTaste | Forgotten password</title>
</head>
<style>
    body {
        font-family: 'Zen Maru Gothic', sans-serif;
    }
</style>
<body>
    <section class="min-h-screen flex items-stretch text-white ">
        <div class="lg:flex w-1/2 hidden bg-gray-500 bg-no-repeat bg-cover relative items-center" style="background-image: url(https://i.ibb.co/FsQYQ7m/4321.png);">
            <div class="absolute bg-black opacity-30 inset-0 z-0"></div>
            <div class="w-full px-24 z-10">
                <h1 class="text-5xl font-bold text-left tracking-wide"></h1>
                <a href="/"><img src="https://i.postimg.cc/3Nq6JRNR/gametaste-white.png" alt="GameTaste" class="w-1/2"></a>
                <p class="text-4xl my-4">The platform for gamers to share their favorite games & leave reviews.</p>
            </div>

        </div>
        <div class="lg:w-1/2 w-full flex items-center justify-center text-center md:px-16 px-0 z-0" style="background-color: #161616;">
            {% if error != null %}
                {% if error == 1 %}
                <script>
                    toastr.error('Username and email do not match');
                </script>
                {% endif %}
                {% if error == 2 %}
                <script>
                    toastr.error('Invalid answer');
                </script>
                {% endif %}
            {% endif %}
            <div class="absolute lg:hidden z-10 inset-0 bg-gray-500 bg-no-repeat bg-cover items-center" style="background-image: url(https://i.ibb.co/FsQYQ7m/4321.png);">
                <div class="absolute bg-black opacity-60 inset-0 z-0"></div>
            </div>
            <div class="w-full py-6 z-20 ">
                <h1 class="mt-6 flex items-center justify-center text-center">
                    <a href="/user/login"><img src="https://i.ibb.co/WtPM0J0/321.png"
                            class="w-16 flex items-center justify-center text-center"></a>
                </h1>
                <a href="/user/login"><i class="fa-solid fa-arrow-left-long"></i></a>

                <form action="forgotPasswordPost" method="POST" onsubmit="return checkFormInput(this);" class="sm:w-2/3 w-full px-4 lg:px-0 mx-auto">
                    <div class="mb-4">
                        <input class="w-full px-3 py-2 mb-3 text-sm leading-tight text-black border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                            name="username"
                            type="username"
                            placeholder="Username"
                        />
                        <input class="w-full px-3 py-2 mb-3 text-sm leading-tight text-black border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                            name="email"
                            type="email"
                            placeholder="Email"
                        />
                        <label>What was your security question?</label>
                        <select class="w-full mt-2 px-3 py-2 mb-3 text-sm leading-tight text-black border rounded shadow appearance-none focus:outline-none focus:shadow-outline">
                            <option value="Q1">What was the name of your first pet?</option>
                            <option value="Q2">What is your favorite color?</option>
                        </select>
                        <input class="w-full px-3 py-2 mb-3 text-sm leading-tight text-black border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                            name="answer"
                            type="answer"
                            placeholder="Answer"
                        />
                    </div>
                    <div class="px-4 pb-2 pt-4">
                        <button class="uppercase block w-full p-4 text-lg rounded-full bg-purple-500 hover:bg-indigo-600 focus:outline-none">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script src="/js/forgotPassword.js"></script>
</body>
</html>